<%content_for :head do-%>
<%end-%>
<h1>Components</h1>
<hr />
DIMES is composed of a number of different activities, summarized here:
<ul> 
  <li>Tracer release</li> 
  <li>Microstructure and Finestructure Measurements</li> 
  <li>Isopycnal following RAFOS floats</li> 
  <li>Drake Passage mooring array</li> 
  <li>Shearmeter measurements [<a href="DIMES_Shearmeter_Summary.pdf"><%=image_tag 'pdf.jpg', :height=>'13'%> overview/status</a>]</li> 
  <li>Analysis of POP and OCCAM model output</li> 
  <li>Hydrography, inverse modeling, and Bernoulli inverse</li> 
  <li>Analysis of satellite altimetry</li> 
</ul><br />
The original proposal PDFs summarize the US and UK programs:  <!---(To be
posted pending permission from PIs.)---> 
<ul> 
<li><a href="dimes_us.pdf"><b><%=image_tag 'pdf.jpg', :height=>'13'%> US Proposal</b></a></li> 
<li><a href="dimes_uk.pdf"><b><%=image_tag 'pdf.jpg', :height=>'13'%> UK Proposal</b></a></li> 
<li><a href="Ferrarietal.pdf"><b><%=image_tag 'pdf.jpg', :height=>'13'%> US Float Supplement Proposal (Ferrari, Marshall, Speer)</b></a></li> 
</ul><br />
For more information, check out
<a href="outreach/DIMES_article_CB_30_June.html">this article</a> 
written by Catherine Brewster during her visit to the British
Antarctic Survey.<br>
<h2>Modeling</h2>
<table> 
  <tbody> 
    <tr> 
      <td>OCCAM Analysis<br></td> 
      <td>Emily Shuckburgh<br></td> 
      <td>effective diffusivities <br><br></td> 
      <td><a
 href="http://www.atm.damtp.cam.ac.uk/shuckburgh/technical/index.html">web</a>/</td> 
      <td>emsh[at]bas.ac.uk<br></td> 
    </tr> 
    <tr> 
      <td>OCCAM Analysis<br></td> 
      <td>Dave Stevens<br></td> 
      <td>tracer release, effective diffusivities,
spice<br><br></td> 
      <td><a href="http://www.mth.uea.ac.uk/%7Edps/">web</a>/</td> 
      <td>D.Stevens[at]uea.ac.uk<br></td> 
    </tr> 
    <tr> 
      <td>POP Analysis<br></td> 
      <td>Alexa Griesel, Julie McClean, Mat Maltrud, Joe LaCasce, Sarah
Gille, Janet Sprintall <br><br></td> 
      <td>Eulerian and Lagrangian effective diffusivities<br></td> 
      <td><a href="http://www-pord.ucsd.edu/%7Eagriesel/">web</a>/</td> 
      <td>agriesel[at]ucsd.edu<br></td> 
    </tr> 
    <tr> 
      <td>Process studies<br></td> 
      <td>George Nurser and David Smeed<br></td> 
      <td>High-resolution process modelling work
studying the generation of internal waves by jets and eddy flows over
topography, with a view to developing new diapycnal mixing
parameterizations.<br><br></td> 
      <td><a
 href="http://www.soc.soton.ac.uk/JRD/PROC/people/agn/index.php">web</a>/</td> 
      <td>G.Nurser[at]noc.soton.ac.uk<br></td> 
    </tr> 
    <tr> 
      <td>process studies<br></td> 
      <td>Andy Thompson<br></td> 
      <td>role of mesoscale eddies and topography
in jet formation on the ACC, using idealized 2-layer and 3-dimensional
quasi-geostrophic models<br><br></td> 
      <td><a href="http://www.atm.damtp.cam.ac.uk/people/aft26/">web</a>/</td> 
      <td>A.F.Thompson[at]damtp.cam.ac.uk<br></td> 
    </tr> 
    <tr> 
      <td>process studies (NICKELS)<br></td> 
      <td>Jen MacKinnon <br></td> 
      <td>internal lee waves <br></td> 
      <td><a
 href="http://www-pord.ucsd.edu/%7Ejen/Jen/Research.html">web</a>/</td> 
      <td>jmackinn[at]ucsd.edu <br></td> 
    </tr> 
    <tr> 
      <td>SOSE analysis<br></td> 
      <td>Ryan Abernathey, John Taylor, Raf
Ferrari, John Taylor<br></td> 
      <td>Nakamura-style diffusivities, Lagrangian
diffusivities<br></td> 
      <td><a
 href="http://web.mit.edu/rpa/www/ACC/">web</a>/</td> 
      <td>raffaele[at]mit.edu<br></td> 
    </tr> 
  </tbody> 
</table> 
