<%content_for :head do-%>
<%=stylesheet_link_tag("people")%>
<%end-%>
<h1>DIMES Scientists</h1>
<hr>
<h2>Principal Investigators</h2>
<div class="column">
<b><a href="http://whoi.edu">Woods Hole Oceanographic Institution</a></b>
<table class='half'>
	<tr><td><b>James Ledwell (US lead PI)</b></td><td><a href="http://www.whoi.edu/profile.do?id=jledwell">web</a>/ jledwell[at]whoi.edu</td></tr>
	<tr><td>Timothy Duda</td><td><a href="http://www.whoi.edu/profile.do?id=tduda">web</a>/ tduda[at]whoi.edu<td></tr>
	<tr><td>John Toole</td><td><a href="http://www.whoi.edu/profile.do?id=jtoole">web</a>/ jtoole[at]whoi.edu<td></tr>
	<tr><td>Breck Owens</td><td><a href="http://www.whoi.edu/profile.do?id=bowens">web</a>/ bowens[at]whoi.edu<td></tr>
	<tr><td>Joe LaCasce (also at University of Oslo)</td><td><a href="http://www.whoi.edu/profile.do?id=jlacasce">web</a>/ j.h.lacasce[at]geo.uio.no<td></tr>
</table>
<br>
<b><a href="http://sio.ucsd.edu/">Scripps Institution of Oceanography</a></b>
<table class='half'>
	<tr><td>Sarah Gille</td><td><a href="http://www-pord.ucsd.edu/~sgille">web</a>/ sgille[at]ucsd.edu</td></tr>
</table>
<br>
<b><a href="http://fsu.edu">Florida State University</a></b>
<table class='half'>
	<tr><td>Kevin Speer</td><td><a href="http://ocean.fsu.edu/faculty/speer/speer.html">web</a>/ speer[at]ocean.fsu.edu</td></tr>
	<tr><td>Peter Lazarevich</td><td><a href="http://ocean.fsu.edu/~plazarev/">web</a>/ lazarevich[at]ocean.fsu.edu</td></tr>
	<tr><td>Louis St. Laurent</td><td><a href="http://ocean.fsu.edu/faculty/stlaurent/stlaurent.html">web</a>/ stlaurent[at]ocean.fsu.edu</td></tr>
</table>
<br>
<b><a href="http://www.apl.washington.edu/">Applied Physics Labratory, University of Washington</a></b>
<table class='half'>
	<tr><td>James Girton</td><td><a href="http://www.apl.washington.edu/people/profile.php?last=Girton&first=James">web</a>/ girton[at]apl.washington.edu </td></tr>
	</tr><td>Luc Rainville</td><td><a href="http://opd.apl.washington.edu/~rainville/">web</a>/ rainville[at]apl.washington.edu </td></tr>
</table>
<br>
</div>
<div class='column'>
<b><a href="http://www.noc.soton.ac.uk/">National Oceanography Center, Southampton</a></b>
<table class='half'>
	<tr><td>Alberto Naveira Garabato (UK lead PI)</td><td><a href="http://www.noc.soton.ac.uk/soes/staff/acng/">web</a>/ acng[at]noc.soton.ac.uk </td></tr>
	<tr><td>Harry Bryden</td><td><a href="http://www.soc.soton.ac.uk/JRD/HYDRO/hlb/">web</a>/ h.bryden[at]noc.soton.ac.uk</td></tr>
	<tr><td>Brian King</td><td><a href="http://www.noc.soton.ac.uk/JRD/HYDRO/bak/index.html">web</a>/ b.king[at]noc.soton.ac.uk</td></tr>
	<tr><td>David Smeed </td><td><a href="http://www.noc.soton.ac.uk/JRD/PROC/people/das/">web</a>/ das[at]noc.soton.ac.uk</td></tr>
</table>
<br>
<b><a href="http://www1.uea.ac.uk/cm/Home">University of East Anglia</a></b>
<table class='half'>
	<tr><td>Andrew Watson</td><td><a href="http://www.uea.ac.uk/~ajw/ajw.htm">web</a>/ a.watson[at]uea.ac.uk</td></tr>
	<tr><td>Karen Heywood</td><td><a href="http://www1.uea.ac.uk/cm/home/schools/sci/env/people/facstaff/heywood">web</a>/ k.heywood[at]uea.ac.uk </td></tr>
	<tr><td>David Stevens</td><td><a href="http://www.mth.uea.ac.uk/~dps/">web</a>/ D.Stevens[at]uea.ac.uk</td></tr>
</table>
<br>
<b><a href="http://www.antarctica.ac.uk/">British Antarctic Survey</a></b>
<table class='half'>
	<tr><td>Michael Meredith</td><td><a href="http://www.antarctica.ac.uk/staff-profiles/template.php?user=mmm">web</a>/ mmm[at]bas.ac.uk </td></tr>
	<tr><td>Emily Shuckburgh</td><td><a href="http://www.atm.damtp.cam.ac.uk/shuckburgh/introduction/index.html">web</a>/ emsh[at]bas.ac.uk </td></tr>
	<tr></tr>
</table>
<br>
<b><a href="http://www.sams.ac.uk/">Scottish Association for Marine Science</a></b>
<table class='half'>
	<tr><td>Mark Inall</td><td><a href="http://www.sams.ac.uk/research/sams-scientific-staff/mark-inall">web</a>/ mark.inall[at]sams.ac.uk </td></tr>
</table>
<br>
<b><a href="http://eapsweb.mit.edu/">Massachusetts Institute of Technology</a></b>
<table class='half'>
	<tr><td>Raffaele Ferrari</td><td><a href="http://web.mit.edu/raffaele/www/main.html">web</a>/ rferrari[at]mit.edu</td></tr>
	<tr><td>John Marshall</td><td><a href="http://paoc.mit.edu/paoc/marshall/marshall.html">web</a>/ jmarsh[at]mit.edu</td></tr>
</table>
</div>
<div class='clear'>
<br>
<h2>Students, Post-Docs and Other Participants</h2>
<table class='thirds'>
	<tr>
		<td><b>Ryan Abernathey</b><br>
			Grad student - MIT<br>
			Eddy diffusivity in the SOSE model<br>
			<a  href="http://web.mit.edu/rpa/www/">web</a>/ rpa[at]mit.edu</td>
		<td><b>Magdalena Carranza</b><br>
			Undergrad student - University of Buenos Aires<br>
			Upper ocean dynamics</td>
		<td><b>Jun Dong</b><br>
			Grad student - FSU<br>
			Frontal dynamics; Microstructure<br>
			<a href="http://ocean.fsu.edu/students/dong.html">web</a>/ dong[at]ocean.fsu.edu</td>
	</tr>
	<tr>
		<td><b>Alexa Griesel</b><br>
			Post-doc - SIO <br>
			POP model analysis<br>
			<a href="http://www-pord.ucsd.edu/~agriesel">web</a>/ agriesel[at]ucsd.edu </td>
		<td><b>Byron Kilbourne</b><br>
			Grad student - UW<br>
			Small-scale vertical eddies and mixing<br>
			bkilbour[at]apl.washington.edu</td>
		<td><b>Marie-Jos&eacute; Messias</b><br>
			Senior Research Associate - UEA<br>
			<a href="ttp://www1.uea.ac.uk/cm/home/schools/sci/env/people/People/Research%2BAssociate/Marie-Jose%2BMessias">web</a>/ M-j.Messias[at]uea.ac.uk</td>
	</tr>
	<tr>
		<td><b>John Taylor</b><br>
			Post-doc - MIT<br>
			Lagrangian trajectories in MITgcm<br>
			<a href="http://eapsweb.mit.edu/people/person.asp?position=Postdoc&who=taylorj">web</a>/ jrtaylor[at]mit.edu</td>
		<td><b>Martin Wadley</b><br>
			Senior Research Associate - UEA<br>
			<a href="http://www.mth.uea.ac.uk/people/PostDocs-RAs/MW.htm">web</a>/m.wadley[at]uea.ac.uk</td>
		<td><b>Nicolas Wienders</b><br>
			Research Specialist - FSU<br>
			Floats, historic data analysis<br>
			<a href="http://ocean.fsu.edu/~wienders/">web</a>/ wienders[at]ocean.fsu.edu</td>
	</tr>
	<tr>
		<td><b>Cim Wortham</b><br>
			Grad student - MIT/WHOI Joint Program<br>
			Satellite altimetry, Doppler sonar, Dopperl volume sampler<br>
			<a href="http://eapsweb.mit.edu/people/person.asp?position=Student&who=worthamc">web</a>/ worthamc[at]mit.edu</td>
		<td><b>Uriel Zajaczkovski</b><br>
			Undergrad student - University of Buenos Aires<br>
			Horizontal diffusivity</td>
		<td></td>
	</tr>
</table>
<br>
<h2>Friends of DIMES</h2>
<table class='thirds'>
	<tr>
		<td><b>Eric Chassignet</b><br>
			FSU<br>
			High-resolution modeling (HYCOM)<br>
			<a href="http://ocean.fsu.edu/faculty/chassignet/chassignet.html">web</a>/ chassignet[at]ocean.fsu.edu</td>
		<td><b>Jen MacKinnon</b><br>
			SIO<br> 
			Process studies (NICKELS)<br> 
			<a href="http://www-pord.ucsd.edu/~jen">web</a>/ jmackinn[at]ucsd.edu</td>
		<td><b>Mat Maltrud</b><br> 
			LANL<br> 
			POP model simulations/analysis<br> 
			maltrud[at]lanl.gov </td>
	</tr>
	<tr>
		<td><b>Christos Mitsis</b><br>
			UEA<br> 
			OCCAM in DIMES region<br> 
			c.mitsis[at]uea.ac.uk</td>
		<td><b>George Nurser</b><br>
			NOC<br> 
			Process models<br> 
			<a href="http://www.soc.soton.ac.uk/JRD/PROC/people/agn/index.php">web</a>/ G.Nurser[at]noc.soton.ac.uk</td>
		<td><b>Julie McClean</b><br>
			SIO<br>
			POP model simulations/analysis<br>
			jmcclean[at]ucsd.edu</td>
	</tr>
	<tr>
		<td><b>Janet Sprintall</b><br>
			SIO<br>
			Drake Passage XBT/XCTDs<br>
			jsprintall[at]ucsd.edu</td>
		<td><b>Andy Thompson</b><br>
			DAMTP, U. Cambridge<br>
			Process studies<br>
			<a href="http://www-pord.ucsd.edu/~athompson/">web</a>/ Andrew.F.Thompson[at]uea.ac.uk</td>
		<td><b>Stephanie Waterman</b><br>
			NOCS<br>
			SOFINE microstructure<br>
			<a href="http://www.whoi.edu/people/swaterman/">web</a>/ snw[at]mit.edu</td>
	</tr>
</table>
<br>
<h2>(Amazing) Technical Support</h2>
<table class='thirds'>
	<tr>
		<td><b>Jim Carlson</b><br>
			APL-UW<br> 
			Preparation, testing, troubleshooting EM-APEX floats</td>
		<td><b>Steve Diggs</b><br>
			SIO<br>
			Data management and release</td>
		<td><b>John Dunlap</b><br>
			APL-UW<br>
			EM-APEX software, data telemetry</td>
	</tr>
	<tr>
		<td><b>Brian Guest</b><br>
			WHOI<br>
			RAFOS floats, sound sources, tracer injection, shearmeters</td>
		<td><b>Leah Houghton</b><br>
			WHOI<br>
			GC analysis of water samples</td>
		<td><b>Eric Howarth</b><br>
			FSU<br>
			Engineer</td>
	</tr>
	<tr>
		<td><b>Phil Moses</b><br>
			SIO<br>
			Computer/web support</td>
		<td><b>Cindy Sellers</b><br>
			WHOI<br>
			Data archiving and analysis</td>
		<td><b>Avery Snyder</b><br>
			APL-UW<br>
			Preparation, testing, troubleshooting EM-APEX floats</td>	
	</tr>
	<tr>
		<td><b>Stew Sutherland</b><br>
			Lamont-Doherty<br>
			Tracer injection and sampling system</td>
		<td><b>Jim Valdes</b><br>
			WHOI<br>
			RAFOS float preparation</td>
	</tr>
</table>


</div>
