.cwd {
  border: 1px solid #DDEEDD;
  border-left: 0;
  border-right: 0;
  padding: 0 0.5em;
  background: #EEFFEE;
  font-size: 1em;
  line-height: 0;
}
.cwd .dir {
  font-weight: bold;
}
.edit {
  padding: 0.1em 0.5em;
  border: 1px solid #EEDDCC;
  border-left: 0;
  border-right: 0;
  background: #FFEEDD;
  line-height: 0.5em;
}
.log_in_invite {
  border: 1px solid #EEEEDD;
  border-left: 0;
  border-right: 0;
  padding: 0.5em;
  background: #FFFFEE;
}
.files {
  margin: 0.5em 0;
}
.files table {
  width: 100%;
}
.files table tr.header {
  text-align: left;
  font-size: 1.2em;
}
.files table tr.header th {
  border-bottom: 1px solid #EEEEEE;
}
