<h2>DIMES Progress Report</h2>

RR0901 - 4 February 2009

<p>We have injected all the tracer (about 80 kg). There were some adventures in electricity and pressure sensors, and pumps, but we are finished and it went well. Here is a map of our activities.</p> 

<a href="cruise1/inj_area_01Feb.png"><img class="cruiseimg" src="cruise1/inj_area_01Feb.png"></a>

<p>The two red lines that make the red cross are our injection streaks. The 'x' nearby is where we released a shearmeter, 3 RAFOS floats, the first  EM-APEX float and a SOLO float on 3 February.  The 9 little circles are a CTD survey planned as the next thing we do (after another set of floats near the 'x', this time without the EM-APEX float). Contours are absolute dynamic topography as mapped by Valery Kosneyrev, in meters. The arrows are geostrophic velocity near the surface from the ADT map (scale in the lower righthand corner). The geostrophic velocity at 1500 m depth at the 'x' from the CTD casts at the ends of our our first injection line is 1.5 cm/s toward the southwest.  This has error bars associated with it, but nonetheless gives us a way to adjust the position of the various events in the picture to a common time (displacements are less than 1 km).</p>  

<p>The pressure of the injection varied from 1560 to 1590 dbar. Our target for the injection was potential density = 34.6077, reference to 1500 dbar.   Sigma_theta is then approximately 27.6745; neutral density 27.9. It took us from about 0030 Z on 3 Feb to 0600 Z on 5 Feb to do this injection. Recovery of the injection system with the relative motion between sea and Revelle, and high freeboard on Revelle is not easy. The last recovery was in heavy seas and was flawless, thanks to Brian Guest and the team working with him. No doubt we have more adventures before us, but these last two days were probably among the most challenging and important of the cruise.</p>
<a href="cruise1/DIMES09_261-1.jpg"><img class="cruiseimg" src="cruise1/DIMES09_261-1.jpg"></a>
<p>photo by Uriel Zajaczkovski</p>