<h2>Cruise RR0901 Update</h2>
1 February 2009

<p>We have decided to squeeze the injection in while we have some good weather. The weather promises to deteriorate starting Wednewday morning, so we have about 36 hours between the time we arrive on site tomorrow around dinner time and Wednesday around breakfast. The injection must go flawlessly for us to get all the tracer injected in this time. We will increase the flow rate and turn the sled around quickly between the two casts that it will take if nothing breaks. So the schedule is something like the attached. Please note that the positions will be revised slightly as satellite data come in---tomorrow by noon.</p>

<p>We will do the remainder of the CTD line and floats after the injection. We will deploy the last 2 shearmeters and sets of RAFOS floats during sampling of the tracer patch, after the CTDs are done.</p>

<b>Injection Schedule:  2-4 February 2009</b><br>

<table style="text-align: left; width: 100%;" border="1" cellpadding="2"
 cellspacing="2"> 
  <tbody> 
    <tr> 
      <td style="vertical-align: top; font-style: italic;"><br> 
      </td> 
      <td style="vertical-align: top; font-style: italic;">Date<br> 
      </td> 
      <td style="vertical-align: top; font-style: italic;">Local Times<br> 
      </td> 
      <td style="vertical-align: top; font-style: italic;">Latitude<br> 
      </td> 
      <td style="vertical-align: top; font-style: italic;">Longitude<br> 
      </td> 
      <td style="vertical-align: top; font-style: italic;"><br> 
      </td> 
    </tr> 
    <tr> 
      <td style="vertical-align: top; font-style: italic;">Mon</td> 
      <td style="vertical-align: top; font-style: italic;">2/1 <br> 
      </td> 
      <td style="vertical-align: top; font-style: italic;">2000 <br> 
      </td> 
      <td style="vertical-align: top; font-style: italic;">58 09 <br> 
      </td> 
      <td style="vertical-align: top; font-style: italic;">106 30 <br> 
      </td> 
      <td style="vertical-align: top; font-style: italic;">Deploy
injection sled</td> 
    </tr> 
    <tr> 
      <td style="vertical-align: top; font-style: italic;">Tue<br> 
      </td> 
      <td style="vertical-align: top; font-style: italic;">2/2<br> 
      </td> 
      <td style="vertical-align: top; font-style: italic;">1100<br> 
      </td> 
      <td style="vertical-align: top; font-style: italic;">58 09<br> 
      </td> 
      <td style="vertical-align: top; font-style: italic;">106 58<br> 
      </td> 
      <td style="vertical-align: top; font-style: italic;">Retrieve
sled, turn it around</td> 
    </tr> 
    <tr> 
      <td style="vertical-align: top; font-style: italic;">Tue</td> 
      <td style="vertical-align: top; font-style: italic;">2/2</td> 
      <td style="vertical-align: top; font-style: italic;">1200</td> 
      <td style="vertical-align: top; font-style: italic;">58 09 <br> 
      </td> 
      <td style="vertical-align: top; font-style: italic;">106 44 <br> 
      </td> 
      <td style="vertical-align: top; font-style: italic;">Deploy SOLO
float, EM-APEX
      <p class="P1"> Shearmeter, 3 RAFOS</p> 
      <p class="P1"> back near center of streak</p> 
      </td> 
    </tr> 
    <tr> 
      <td style="vertical-align: top; font-style: italic;">Tue</td> 
      <td style="vertical-align: top; font-style: italic;">2/2</td> 
      <td style="vertical-align: top; font-style: italic;">1400</td> 
      <td style="vertical-align: top; font-style: italic;">58 15 </td> 
      <td style="vertical-align: top; font-style: italic;">106 30</td> 
      <td style="vertical-align: top; font-style: italic;">Deploy
injection sled</td> 
    </tr> 
    <tr> 
      <td style="vertical-align: top; font-style: italic;">Wed</td> 
      <td style="vertical-align: top; font-style: italic;">2/3</td> 
      <td style="vertical-align: top; font-style: italic;">0400</td> 
      <td style="vertical-align: top; font-style: italic;">58 15</td> 
      <td style="vertical-align: top; font-style: italic;">106 58</td> 
      <td style="vertical-align: top; font-style: italic;">Recover sled</td> 
    </tr> 
    <tr> 
      <td style="vertical-align: top; font-style: italic;">Wed</td> 
      <td style="vertical-align: top; font-style: italic;">2/3</td> 
      <td style="vertical-align: top; font-style: italic;">0600</td> 
      <td style="vertical-align: top; font-style: italic;">58 15</td> 
      <td style="vertical-align: top; font-style: italic;">106 44</td> 
      <td style="vertical-align: top; font-style: italic;">Deploy SOLO
float
      <p class="P1"> Shearmeter, 3 RAFOS</p> 
      <p class="P1"> back near center of streak</p> 
      </td> 
    </tr> 
  </tbody> 
</table>