<h1>Fieldwork:  Reports, Planning and Logistics</h1><hr>
Five cruises are scheduled at present. <br> 
<ul> 
  <li>US1:&nbsp; <span style="font-style: italic;">R/V Revelle</span>.&nbsp;
8 Jan (1600) to 24 Feb (0800) 2009, Punta Arenas, Chile to Punta Arenas, 
Chile.&nbsp;  For cruise updates see <a href="results">results</a>.&nbsp;
DIMES Pacific sound source deployment,&nbsp; float&nbsp; release,
tracer release. </li> 
  <li>UK1:&nbsp; <span style="font-style: italic;">James Cook</span>.&nbsp;
5 - 21 December 2009.&nbsp;
DIMES Drake Passage mooring and sound source deployment. </li> 
  <li>US2:&nbsp; <span style="font-style: italic;">R/V Thompson</span>.&nbsp;
&nbsp; 15 Jan to 5 March 2010, Punta Arenas, Chile to Punta Arenas, Chile.&nbsp;
Pacific tracer survey,&nbsp; microstructure,&nbsp; float release.  (Ship 
loaded in Seattle in early December, prior to 14 December departure.) <a href="cruise3/Cruise_Plan.pdf">Cruise plan.</a></li> 
  <li>UK2:&nbsp; <span style="font-style: italic;">James Clark Ross</span>.&nbsp;
December 2010 or January 2011.&nbsp;
Scotia Sea survey (boundaries). </li> 
  <li>UK2.5:&nbsp; <span style="font-style: italic;">James Clark Ross</span>,&nbsp;
April 2011&nbsp;
<%= link_to('Cruise page', 'http://seahunt.ucsd.edu/cruises/74') %>.
<%= link_to('Blog post', 'http://blog.decc.gov.uk?p=596') %> with a
nice YouTube video from the deck of the ship.</p>
  </li>
  <li>UK3:&nbsp; <span style="font-style: italic;">James Cook</span>.&nbsp;
December 2011 or January 2012.&nbsp; Scotia Sea survey (full tracer)</li> 
</ul> 
<br> 
Further cruise schedule and related information
to be posted here.
