<h1>Fieldwork:  Reports, Planning and Logistics</h1>

<hr>

<table class="fieldwork"> 
  <tr class="cruise">
    <td class="name">US1</td>
    <td class="ship">R/V Revelle</td>
    <td class="time">8 Jan (1600) to 24 Feb (0800) 2009</td>
    <td class="other"><span class="location">Punta Arenas, Chile to Punta
      Arenas, Chile.</span> For cruise updates see
      <a href="results">results</a>. DIMES Pacific sound source deployment,
      float release, tracer release.</td>
  </tr>
  <tr class="cruise">
    <td class="name">UK1</td>
    <td class="ship">James Cook</td>
    <td class="time">5 - 21 December 2009.</td>
    <td class="other">DIMES Drake Passage mooring and sound source deployment.</td>
  </tr>
  <tr class="cruise">
    <td class="name">US2</td>
    <td class="ship">R/V Thompson</td>
    <td class="time">15 Jan to 5 March 2010</td>
    <td class="other">
      <span class="location">Punta Arenas, Chile to Punta Arenas, Chile</span>.
      Pacific tracer survey, microstructure, float release. (Ship loaded in
      Seattle in early December, prior to 14 December departure.)
      <a href="cruise3/Cruise_Plan.pdf">Cruise plan.</a></td>
  </tr>
  <tr class="cruise">
    <td class="name">UK2</td>
    <td class="ship">James Clark Ross</td>
    <td class="time">December 2010 or January 2011.</td>
    <td class="other">Scotia Sea survey (boundaries).</td>
  </tr>
  <tr class="cruise">
    <td class="name">UK2.5</td>
    <td class="ship">James Clark Ross</td>
    <td class="time">April 2011</td>
    <td class="other">
      <%= link_to('Cruise page', 'http://seahunt.ucsd.edu/cruises/74') %>.
      <%= link_to('Blog post', 'http://blog.decc.gov.uk?p=596') %> with a
      nice YouTube video from the deck of the ship.
    </td>
  </tr>
  <tr class="cruise">
    <td class="name">UK3</td>
    <td class="ship">James Cook</td>
    <td class="time">December 2011 or January 2012.</td>
    <td class="other">Scotia Sea survey (full tracer)</td>
  </tr>
  <tr class="cruise">
    <td class="name">UK4</td>
    <td class="ship">James Clark Ross</td>
    <td class="time">March 2013 to April 2013.</td>
    <td class="other"><a href="//dimesuk4.blogspot.co.uk/">Blog</a></td>
  </tr>
</table> 

<p>Further cruise schedule and related information to be posted here.</p>
