<%=stylesheet_link_tag("home")%>
<b>ANNOUNCEMENT:  <a href="DIMES_2010_Meeting.html">DIMES Investigator Meeting</a>,</b> 24-25 September 2010, NCAR, 
Boulder (after the CLIVAR <a href="http://www.clivar.org/organization/wgomd/decadal/decadal.php">WGOMD-GSOP Workshop on Decadal Variability, Predictability, and Prediction: Understanding the Role of the Ocean</a>)<br> 
<!---<b>For updates from the first three cruises:</b>
See the <a href="results.html">results</a> page.<br>---> 

<a href="images/calendar_dimes.jpg" alt="DIMES map and timelines"><%=image_tag 'calendar_dimes.jpg', :height=>'330', :id=>'calendar_dimes'%></a>
<h1>Experimental Overview</h1> 
<p> DIMES is a US/UK field program aimed at measuring diapycnal and 
isopycnal mixing in the Southern Ocean, along the tilting isopycnals
of the Antarctic Circumpolar Current.</p> 
<p class="caption"> Schematic time line for DIMES field program.
</p> 
<p>The Meridional Overturning Circulation (MOC) of the ocean is a critical 
regulator of the Earth's climate processes.  Climate models are highly 
sensitive to the representation of mixing processes in the southern limb
of the MOC, within the Southern Ocean, although the lack of extensive in situ
observations of Southern Ocean mixing processes has made evaluation of 
mixing somewhat difficult.  Theories and models of the Southern 
Ocean circulation have been built on the premise of adiabatic flow 
in the ocean interior, with diabatic processes confined to the upper-ocean 
mixed layer.  Interior diapycnal mixing has often been assumed to be small, but 
a few recent studies have suggested that diapycnal mixing might be
large in some locations, particularly over rough bathymetry.  
Depending on its extent, this interior diapycnal mixing could 
significantly affect the overall energetics and property
balances for the Southern Ocean and in turn for the global ocean.
The goals of DIMES are to obtain measurements
that will help us quantify both along-isopycnal eddy-driven mixing and
cross-isopycnal interior mixing.
</p><br><br>
<a href="images/moc_scheme.jpg" alt="Meridional Overturning Schmatic"><%=image_tag 'moc_scheme.jpg',:clear=>'right', :height=>'230', :id=>'moc_scheme', 'style' => 'margin-bottom: 1em;' %></a>
<p> Schematic representation of Southern Ocean meridional 
overturning circulation.  The isopycnal upwelling of Upper and Lower 
Circumpolar Deep Water (UCDW and LCDW, with sources in the North Atlantic) is 
supported by mean geostrophic mass fluxes below the level of topographic 
obstacles to the ACC and by mesoscale eddy-driven mass fluxes at mid-depth. 
The upwelled water changes density through air-sea-ice interaction. It then 
returns northward in the wind-driven Ekman layer to form Antarctic 
Intermediate Water (AAIW), and as Antarctic Bottom Water (AABW) in mean 
geostrophic flows.  The magnitude of interior
diapycnal mixing and the rate of along-isopycnal mixing are open for
investigation and are the DIMES objectives.</p><br><br><br><br>
