<span style="text-align: center;">
<h2>TN246 - 15 Jan 2009 - 5 Mar 2009 -  R/V Thomas Thompson</h2>
<br />
<h2>Obituary:  Captain Philip A. Smith</h2>
<br />
</span>

<i>Reprinted from the <a href="http://www.legacy.com/obituaries/seattletimes/obituary.aspx?n=philip-a-smith&pid=139011368">Seattle Times</a>:</i><br>

Captain Philip A. Smith passed away on January 18, 2010, at the age of 62. Captain Phil suffered a heart attack aboard the R/V THOMPSON the morning of January 18, and the ship, which was working off the coast of Chile, returned to port in Punta Arenas. Phil was born in Illinois on July 9, 1947. His early schooling took place in West Seattle; later, when he attended the University of Washington from 1965 to 1967, majoring in Mechanical Engineering, he played football for the Huskies for a season. He enlisted in the Marine Corps in 1967 and served with them until 1969, including a tour of duty in Vietnam, where he was wounded. Phil first sailed as a mate on the University of Washington's original R/V THOMPSON in the early 1970s. After many years working elsewhere in the maritime industry(as captain of the Tustumena for the Alaska Marine Highway and also captain of a salvage vessel for Crowley Marine Services, among others), he returned to the University in 1999 as one of the two captains on the new R/V THOMPSON. He served in a similar capacity on research vessels belonging to Oregon State University, Scripps Institution of Oceanography, and the University of Hawaii. Captain Phil's skilled contributions to the School of Oceanography's seagoing operations and his generous and caring personality will be sorely missed. Phil is preceded in death by his grandson Nick Barnes and survived by his daughter, Rachel Smith, of Onalaska, WA, step children Vern and Bridget, his brother Paul Smith of West Seattle, and Sue & Pat Patterson. 
<!--- funeral service will be held at Holy Family Church, 9622 - 20th Ave SW, Seattle on Saturday, January 30 at 1PM.---> Remembrances may be made to O.C.Y.C. (Onalaska Community Youth Center), P O Box 476, Onalaska, WA 98570. 
<!---Please sign our guest book at www.Howden-Kennedy.com.--->
