n 2010 - 5 Mar 2010 -  R/V Thomas Thompson <br> 
<br>
Participants</h2>
<br>


<img src="dimes_us2_folks_files/jim.JPG"> <br>
Chief Scientist Jim Ledwell - Senior Scientist - WHOI<br>
My colleagues and I have been planning this
experiment since 2001 or 2002.  This is the third DIMES cruise, but the
first one that promises to yield substantial results.  My role here is to
plan and communicate, to help keep the GC running, to help make all
operations successful, and to find tracer!
<br>

<br>
<img src="dimes_us2_folks_files/john.JPG"> <br>
John Toole - Senior Scientist, WHOI<br>
Lou and I are leading the finestructure and microstructure sampling
program on TT246, using the High Resolution Profiler (HRP) and the DMP
(Deep Microstructure Profiler).  This is my 4th joint experiment 
with Jim, and second cruise to the
Southern Ocean out of Punta Arenas.  (My first was in 1976 when I was a
first-year graduate student in the MIT/WHOI Joint Program.)
<br>

<br>
<img src="dimes_us2_folks_files/lou.JPG"> <br>
Lou St. Laurent - Associate Scientist, WHOI<br>
I study the small scale physical properties of the ocean, related to
turbulence and energy.  We are employing several instrument systems that
allow us to quantify the mixing levels at depth in the ocean.  I recently
left FSU and joined WHOI as an associate scientist.  John and Jim are
mentors to me, with our previous collaborations during the N. Atlantic and
Brazil Basin Tracer Release Experiments. 
<br>


<br>
<img src="dimes_us2_folks_files/pete.JPG"> <br>
Peter Lazarevich - Research Scientist, The Florida State University<br>
Studying oceanography and
attending research cruises for the past 10 years, with cruises to such
places as the Southern Ocean, Arctic Sea, North Atlantic Ocean, and the
South China Sea. His primary research interest is Lagrangian methods,
using surface drifters and subsurface floats to track water motion and
circulation features. Aboard the R/V Revelle, Peter will deploy 75
acoustically-tracked floats into currents that will carry them towards and
through the Drake Passage.
<br>

<br>
<img src="dimes_us2_folks_files/rick.JPG"> <br>
Rick Krishfield - Research Specialist, WHOI <br>
I'm from the WHOI PO department, here to participate on the HRP project 
and contribute to the maintenance of the instrument and data processing.
<br>

<br>
<img src="dimes_us2_folks_files/leah.JPG"> <br>
Leah Houghton - Research Associate, WHOI<br>
Divides her time between 
the Biology and AOP&amp;E Departments. She performs chemical analyses in both 
departments using GC and Mass Spectrometry instruments. She has worked 
with Jim Ledwell on several of his tracer experiments. On this trip her
primary responsibility is GC analysis of water samples.
<br>

<br>
<img src="dimes_us2_folks_files/cindy.JPG"> <br>
Cindy Sellers - Research Associate, WHOI <br>
Has supported scientists in the Ocean Acoustics Lab(OAL) and the Coastal and 
Ocean Fluid Dynamics Lab(COFDL) doing data collection, analysis, and display 
since 1988. She has worked with Jim Ledwell on several of his tracer 
experiments. On this trip her responsibilities include data archiving and 
analysis as well as CTD watch standing.
<br>

<br>
<img src="dimes_us2_folks_files/brian2.JPG"> <br>
Brian Guest - Senior Engineering Assistant, WHOI. <br>
He started working at WHOI in 1983 and has participated in more than 50 
research cruises including descending to 2600 meters in the deep 
submergence vehicle Alvin. Primary responsibilities for
the DIMES project are directing sound source mooring deployments, RAFOS 
floats prep and deployment, SOLO floats and shearmeter prep and deployment.
<br>

<br>

<img src="dimes_us2_folks_files/davew.JPG"> <br>
Dave Wellwood - Reasearch Assistant, WHOI. <br>
<br>


<br>
<img style="width: 256px; height: 323px;" alt="Angel" src="dimes_us2_folks_files/angel.JPG"> <br>
Angel Angulo - Postdoctoral Research Scientist, Lamont-Doherty Earth 
Observatory - Department of Ocean and Climate Physics.<br>
My mission in this cruise is to obtain LADCP data and combine that with 
CTD data in order to obtain mixing parameters, which could be compared 
with the rest of the methods use on board, i.e. tracer experiment, HRP, DMP.
<br>


<br>
<img src="dimes_us2_folks_files/ken.JPG"> <br>
Ken Decoteau - ,  The Florida State University <br>

<br>

<br>
<img src="dimes_us2_folks_files/steve.JPG"> <br>
Steve Lambert - Graduate Student,  The Florida State University <br>
I am an oceanography graduate student at Florida State University studying
under Dr. Lou St. Laurent.  I have been working with a tethered,
shallow-water turbulence profiler for the past year collecting data for my
master's thesis.  Joining the DIMES cruise will offer even more exposure
to profiler work.
<br>

<br>
<img src="dimes_us2_folks_files/jay.JPG"> <br>
Jay Hooper - Graduate Student,  The Florida State University <br>
<br>

<br>
<img src="dimes_us2_folks_files/andrew.JPG"> <br>
Andrew Kowakzk - Graduate Student,  The Florida State University <br>
<br>

<br>
<img src="dimes_us2_folks_files/craig.JPG"> <br>
Craig Rye - Student,  The University of East Anglia <br>
Working in Andrew Watson Research group as a year in industry placement. I'm
interested in diapycnal mixing and the meridional overturning circulation.
During the cruise I hope to primarily assist the measurement of the
tracer.
<br>

<br>
<img src="dimes_us2_folks_files/Gillian.jpg"> <br>
Gillian Damerell - Student,  The University of East Anglia <br>
<br>

<br>
<img src="dimes_us2_folks_files/davec.JPG"> <br>
Dave Ciochetto - Independent Contractor <br>
I am working with Jim Ledwell and the WHOI group on the Dimes US2 Cruise.
I am helping with the CTD and possibly the water analysis. I am interested
in helping with all other aspects of the expedtion.

I am living in Halifax, Nova Scotia but looking to move south this spring.
I am a small scale applied fluid physicist with a varied background.



<br>

<br>
<img src="dimes_us2_folks_files/cathy.JPG"> <br>
Catherine Grendi - Masters Student of Oceanography,  Pontificia Universidad
Catolica de Valparaiso<br>
Serving as the Chilean observer for this cruise.
I would like to learn as much I can.
CTD watch from noon to midnight.
<br>

<br>
<img src="dimes_us2_folks_files/rob.JPG"> <br>
Rob Hagg - Ship's Technician, University of Washington<br>
<br>

<br>
<img src="dimes_us2_folks_files/patrick.JPG"> <br>
Patrick A'hearn - Ship's Technician, University of Washington<br>
<br>

<br>
<img src="dimes_us2_folks_files/aaron.JPG"> <br>
Aaron Morello - Ship's Technician, University of Washington<br>
<br>

