<h2>Cruise TN246 Update</h2>
18 February 2010
 
<p>The seas have been calm for the past two weeks, enabling ample data to be collected.  We are approaching the 103rd CTD/LADCP/Tracer station.  Microstructure profilers have been deployed with about half of the CTD stations.  An expendable dissipation profiler was successfully deployed; we have 3 more remaining on board for Drake Passage.  Twenty-four XCTDs have been deployed in conjunction with microstructure profiles, with most of them returning useful data; we are saving 12 more for Drake Passage.  All but four of the RAFOS floats, all of the SOLO floats, and 4 of the 6 EM-APEX floats have been deployed.  A 12-day test mission of a shearmeter has been completed, with useful data returned.  A second shearmeter has been deployed for a full year mission.  We have two EM-APEX floats and two shearmeters remaining on board for later deployment.</p>

<p>Fig. 1.  Tracer Stations.  The red squares show stations that have been occupied, with the column integral of tracer indicated (nmol/m2).  Six RAFOS floats were released at each of the stations along 105 W; CTD and microstructure profile casts were done only at every other station along that line, with 1800-m XBT's being done at the intervening stations. The red dots near 90 W indicate the next few planned stations as of 17 February.  The contour lines are of absolute dynamic topography (ADT), with contour interval 5 cm.  The bold line in the north is at -20 cm and is just north of the ADT at which the tracer was injected.  The bold line in the south is at -70 cm.  The inverted triangles indicate the locations of the two sound sources deployed on this cruise.</p>
 
 
<p>Tracer has been found at 64 of the CTD stations (Fig. 1).   Individual vertical tracer profiles vary in shape and in the density surface of the maximum concentration, but the mean of all the profiles gathered so far is fairly Gaussian in shape and centered near the density surface of the injection (Figs 2 through 5).  Transects of tracer column integrals at 15-mile spacing show that the variations from one station to the next are high – a sign of streakiness in the distribution.  The levels of tracer found so far suggest that we have missed a good deal of tracer either because of this streakiness or because the tracer is spread over a region about twice as large as the area we have covered.</p>
 

<p>Fig. 2.  Mean concentration as a function of Potential Density, referenced to 1500 dbar, for 64 profiles.  The potential density of the injection of 34.6142 is indicated by the dashed line.  The uncertainty in this potential density stems mostly from the uncertainty in absolute salinity calibration of the CTDs used to sample the tracer and is at least 0.001.</p>
 

 
<p>Fig. 3. Mean depth of the potential density surfaces, for 64 profiles with tracer.  This curve is used to transform the profile in Fig. 2 to depth coordinates in Fig. 4.</p>
 

<p>Fig. 4.  Mean Concentration as a function of Mean Depth.  The dotted line indicates the mean depth of the 34.6142 potential density surface.</p>
 
 
<p>Figure 5 shows a Gaussian fit to the mean concentration profile.  A preliminary estimate of the diapycnal diffusivity of 1.3 x 10-5 m2/s can be obtained from the difference between this curve and the mean profile obtained within two weeks of the injection in February 2009.  The rms spread has increased from 5.5 m to approximately 29 m during the year.</p>
 

<p>Fig. 5.  Gaussian fit (dashed line) to the mean concentration profile (solid line).  The error bars on the observations are estimated from variations in the shapes of the individual profiles going into the mean.</p>
 
<p>Note that we see tracer well south of the Polar Front (Fig. 1).  At the same time, the tracer levels decrease strongly as we cross the PF from north to south.  Analysis of tracer as a function of sea surface height or distance from fronts is yet to be done, though.</p>
 
 
 
 
 
 
 
