<h2>Cruise RR0901 Update</h2>
20 January 2009

<p>All six of our sound sources have now been deployed, the last one today. We are slightly ahead of schedule thanks to great efforts of captain, crew and science party. The weather has been rainy, snowy, sunny, chilly, and windy at turns, but not terrible. We have had to wait on only one occasion for 12 hours for the swell to settle down for a deployment.</p>
 
<p>The past two days we were surrounded by icebergs, an anomaly for this time of year north of 60 S.</p> 
