<h2>Cruise TN246 Update</h2>
4 February 2010

<p>Our cruise is going well, after the unfortunate loss of Captain Smith.  The crew and science party are in good spirits and working very hard to achieve our objectives.</p>
 
<p>A cruise track with stations occupied so far is shown in Fig. 1.  CTD/LADCP/Rosette casts have been done at each of these stations, most to 2000 meters depth.  Turbulence microstructure profiles have been taken with the HRP (High Resolution Profiler) or with the DMP (Deep Microstructure Profiler) at about half of these stations, to about 3000 m depth.</p>

<p>Fig. 1.  Stations so far.  The color and contour lines show the sea surface height relative to gravitational equilibrium, with a contour interval of 5 cm.  The height contour along which the tracer was released a year ago is one or two contours south of the station near 90 W, marked '0.8', and was at that time just north of the Polar Front.  The dotted line is the ship track as of 4 Feb 2010.  The numbers by the square station markers give the column integral of tracer in nmol/m2.  The triangles show the two new sound source locations.  The blue 'x' marks the deployment of a shearmeter for a 12-day test.</p>
 
 
<p>Both sound source moorings have been deployed (triangles in Fig. 1).  A shearmeter was deployed for a 12-day test mission (blue cross in Fig. 1), and is expected to surface on 10 February 2010.  The first of 6 EM-APEX floats was deployed at 56 S, 99 W.</p>
 
<p>Tracer has been found at many of the stations.  A rough estimate of the column integral of tracer (nmol/m2 of CF3SF5, trifluoromethyl sulfur pentafluoride) is shown by each station in Fig. 1.  A preliminary vertical profile for the station with the most tracer (2.4 nmol/m2) is shown in Fig. 2.  Not all the profiles look so symmetrical, or are centered at the initial density surface (dotted line in Fig. 2).  Some even have more than one peak.  The challenge now is to make tracer measurements that will tell us the most they can about along-isopycnal mixing processes.</p>

<p>Fig. 2.  Preliminary plot of the tracer profile from the station near 58 S, 95 W.   The dotted line marks the depth of the isopycnal surface of the tracer release in this profile.</p>
 
 
<p>A prospective cruise track for the whole cruise, as currently envisioned, is shown in Fig. 3.  We are currently at 56 S, heading at about 7 knots towards 105 W against a 30-knot head wind and heavy seas.  At that point we will start a line of RAFOS float deployments, 6 at each station, 3 shallow and 3 deep, 20 miles apart.  We will do a CTD/tracer profile every 40 miles and an 1800-m XBT at the stations in between.  We will deploy one of the microstructure profilers at the CTD stations whenever weather allows.  XCTD's will be deployed at the stations with microstructure profiles for comparison.  Four SOLO floats will be deployed along this RAFOS line, from 56 S to 61.33 S.  The second EM-APEX float will be deployed toward the southern end of this line.</p>

<p>Fig. 3.  Overall cruise track expected for the cruise.  The part to the northwest corner is nearly complete as of 4 February 2010.  The remainder is planned for the next 4 weeks.  A station spacing of 15 n. miles is hoped for along the meridional lines, except for the line at 105 W.  There and along the quasizonal lines the spacing will be 40 n. miles.</p>
 
 
<p>Meridional lines across the suspected region of the tracer patch will then be done at 15-mile spacing at 95 W and at 90 W.  Half a line at 15-mile spacing (if weather has permitted the time) will be done at 85 W.   Station spacing on the zonal or near-zonal line segments will be 40 miles.  The location of these lines relative to the sea surface height contours is shown in Fig. 4.  From the north end of the segment along 85 W we will follow one of the current strands towards the Antarctic Peninsular where we will do the last set of stations along the line of seamounts running north to Cape Horn, and then head back to port.  We will reserve time to be sure to do this last line because of our unique opportunity on this cruise to measure microstructure in Drake Passage, where turbulence may be enhanced by flow over the rough topography.</p>

<p>Fig. 4.  Planned cruise track shown as thin black lines, overlaid on the  map of sea surface height and the stations already occupied.</p>