<h2>Cruise RR0901 Update</h2>
15 January 2009, 1100 Z<br><br>
<img class="cruiseimg"src="cruise1/mooring2_sm.jpg">
<p>We have been out for 5 days now. The weather has been fairly heavy, often with winds of 30 to 40 knots and swells of 20 feet or more. Nevertheless, the first two sound sources have been deployed on their moorings, thanks to a few breaks in the sea state and excellent leadership from WHOI's Brian Guest and SIO Resident Technician Meghan Donohue, aided by our mostly green but eager science party. We are on our way to the third mooring site, at 60 S, 86 W, to be deployed tonight, weather permitting. We have found wind and wave predictions, originating from NOAA, but presented with nice graphics by storrmsurf.com, to be surprisingly accurate thus far.</p>

