<h2>Cruise JC41 Update</h2>
11 December 2009
 
<p>We reached the area of the UK DIMES mooring cluster on 7th December, but
were forced to heave to in rough seas until the afternoon of 8th December.
After that, we have been rather fortunate with the weather and all planned work
has proceeded smoothly, in great part due to the truly outstanding support of
the technicians and crew in the RRS James Cook. As I write, we have finished
deploying the last of the six moorings in the cluster, which includes an FSU
sound source. A map of the multibeam bathymetry and the locations of the
moorings is shown below. Additionally, we occupied one CTD station at the
location of each of the moorings, and conducted a tow-yo CTD transect across
the topographic feature at the centre of the mooring cluster (see map) to
survey the finescale density and velocity fields above and in the lee of the
feature. The large-scale flow in the mooring cluster area has been oriented
northeastward over the last few days, and the hydrography suggests that we are
currently sitting at the northern edge of the Polar Front.</p>

<a href="cruise2/JC41_progress_11Dec09_1.jpg"<img class="cruiseimg" src="cruise2/JC41_progress_11Dec09_1.jpg"></a>

<p>Map of the UK DIMES mooring cluster. Red circles indicate estimated mooring
positions. All moorings consist of a series of current meter and microcat pairs
at prescribed depth levels, except for the moorings immediately to the west and
east of the shallowest topography, which respectively contain a moored ADCP and
two McLane moored profilers as well. The blue line shows the location of the
tow-yo CTD transect, which was split into two segments delimited by the blue
circles. Colour shading shows the depth of the ocean floor as measure with the
ship's multibeamm system.</i></p>

<p>Tonight, we plan to continue the tow-yo CTD transect a little further toward
the northeast, and then start steaming to the deployment site of the FSU-3
sound source mooring. It will take around a day to arrive there. Currently we
are a little ahead of schedule, spirits are up, and the cruise prospects and
time budget are looking healthy.</p>

<a href="cruise2/JC41_progress_11Dec09_1.jpg"><img class="cruiseimg" src="cruise2/JC41_progress_11Dec09_2.jpg"></a>

<p>A scientist deep at work -Kevin trying to convince a profiling float to talk to him.</p>
