<h2>JC41 progress report – 6 Dec 2009</h2>

<p>We  left Punta Arenas yesterday evening, and  sailed out of  the Magellan Strait  to  the Drake 
Passage. We are heading for the UK mooring deployment site in fair seas. We expect to arrive 
there  tomorrow  evening,  and  do  a  swath  bathymetry  survey  overnight  prior  to  mooring 
deployment. The scientific and  technical parties are busy with preparations of moorings and 
instrumentation. The weather forecast for the next couple looks a little rough, and may delay 
the start of employment.</p>
<img class="cruiseimg" src="cruise2/JC41_progress_6Dec09.jpg">