<h2>JC41 Final Progress Report - 20th Dec 2009</h2>

<p>As I write, we are sailing through the Magellan Strait toward Punta Arenas.As  I write, we are  sailing  through  the Magellan Strait  toward Punta Arenas. The cruise has been  successful. We managed  to  deploy  all U.K. moorings  and  FSU  sound  sources  at  the planned  locations  (see map below), deployed  three profiling floats  (two U.K. standard Argo floats, and one FSU Iridium float with acoustics to listen to the sound sources) in the western Drake  Passage,  and  conducted  three  CTD  tow-yos  (one  to  survey  the  lee  of  a  small-scale topographic feature, and the other two to measure the sub-mesoscale structure of interleaving features at  the Polar Front). All has worked well. We are  looking forward  to a good rest and to returning to the area next year to start the data gathering phase proper...</p>

<a href="cruise2/JC41_progress_20Dec09_1.jpg"><img class="cruiseimg" src="cruise2/JC41_progress_20Dec09_1.jpg"></a>

<p>Track of the UK-1 DIMES cruise (JC41), with locations of main activities labelled.</p>

<a href="cruise2/JC41_progress_20Dec09_2.jpg"><img class="cruiseimg" src="cruise2/JC41_progress_20Dec09_2.jpg"></a>

<p>Scientists, technicians and some of the crew of the UK-1 DIMES cruise posing.</p>