Cruise Prospectus<br>
R/V Roger Revelle Cruise RR0901<br>
DIMES Deployment Cruise<br>
<br>
Objectives<br>
<br>
<p>DIMES (Diapycnal and Isopycnal Mixing Experiment in the Southern Ocean) is a study of mixing and the dynamics of the Antarctic Circumpolar Current (ACC). The objectives of the present cruise on R/V Roger Revelle, which is the first DIMES cruise, are to deploy a number of various kinds of drifters, along with sound sources to track them, and a tracer. The focus of the drifters and of the tracer release is a neutral density surface (g = 27.9 kg/m3) that is in the Upper Circumpolar Deep Water. This surface is at a depth of about 2000 m north of the Subantarctic Front of the ACC, but shoals to less than 1000 m depth south of the Polar Front near Antarctica (Fig. 1).</p>
 
<p>Fig. 1. Neutral density from Section P18 at 105 W of the World Ocean Circulation Experiment. The red bar marked "INJ" is a prospective location for the tracer release.</p>
 
Instruments<br>
 
Moored Instruments<br>
 
<p>Sound Sources. There are six sound sources to be deployed at the positions shown in Fig. 2. They emit a pulse of sound once per day at an accurately controlled time. The RAFOS floats, described below, will be tracked by recording the times that the sound reaches them from two or more of the sound sources.</p>
 
<p>Fig. 2. Planned Cruise Track (blue line). The sound sources (blue circles) will be deployed on the way west. The 4 SOLO floats with RAFOS receivers (small red squares) will be deployed between sound sources. The "+" signs along the track at 105 W are CTD/LADCP stations, 1 degree apart; we plan 2 XBT's between each CTD station. The red dots suggest RAFOS locations along the CTD line. Surface drifters will also be deployed along this line. The green diamond represents the tracer release, but the final latitude will be chosen on the basis of the CTD data and satellite altimetry. The shearmeters and EM-APEX floats will be deployed with the tracer. The grey lines indicate the estimate by Orsi et al., 1995, of the mean locations of the Subantarctic Front (northern line), the Polar Front (middle line) and the southern poleward boundary of the ACC (southern line). The green and red lines mark the winter and summer extent of ice.</p>
 
 
Drifting Instruments<br>
 
<p>RAFOS floats (75) will be deployed along the line at 105 W shown in Fig. 2, designed to float near the target neutral density level. These floats receive the pulses of sound from the sound sources and record the time of reception very accurately, storing these times in memory. At the end of their mission the RAFOS floats come to the surface and relay all the times, as well as temperature and pressure records, via satellite. The tracks of the floats can then be determined from the sound arrival times and the sound speed by the method of triangulation. The RAFOS floats will be deployed in groups of 3. Some of the triplets will come to the surface after two years, and others after three years.</p>
 
<p>Six SOLO floats are on board, provided by Breck Owens and his group at WHOI. These floats are set to drift at 1500 meters, near the depth of the target neutral density surface. They come to the surface to report their position by satellite every 10 days, obtaining a profile of pressure, conductivity and temperature on the way, from which salinity and density can be calculated. Four of these floats have a RAFOS sound receiver, to determine whether the sound sources are working, so daily positions should be obtained from them. They will be deployed at the positions shown in Fig. 1 so that there is at least one SOLO float within range of each sound source. The other two SOLO floats have no sound receivers, so an estimate of position for those is determined every ten days only, from the locations at which they come to the surface.</p>
 
<p>Three EM-APEX floats are on board, prepared by James Girton of the University of Washington. These floats will "park" at 1500 meters depth, but every five days they will make vertical excursions to obtain profiles of conductivity, pressure, temperature and velocity between 2000 meters depth and the surface. They will be deployed with the tracer and so will help track the tracer during the cruise.</p>
 
<p>There are 15 surface drifters on board, provided by NOAA/AOML in Miami. These will be deployed along the CTD line shown in Fig.2.</p>
 
<p>There are 4 Shearmeters on board, prepared by Tim Duda of WHOI. These floats are 7 meters long with vanes at each end, set so that the float spins at a rate that depends on the velocity shear. They record the spin rate, as well as temperature at either end of the float and conductivity and pressure at one end. They have RAFOS receivers so that their positions will also be determined. They also have an active ballasting system to keep them near the target neutral surface.</p>
 
Tracer<br>
 
<p>84 kg of trifluoromethyl sulfur pentafluoride on board (CF3SF5) are on board, to be deployed at the target density surface near the center of the ACC, for example at the position shown in Fig. 1. This surface is expected to be at about 1500 m depth, and near 60 S, along the line at 105 W, as in Fig. 1.</p>
 
Instruments lowered from the ship
 
<p>CTD/Rosette. Stations every degree of latitude along the line at 105 W shown in Fig. 2 will be occupied, with profiles to the bottom using a CTD/LADCP system. The CTD has sensors to measure conductivity, temperature, and pressure. An oxygen sensor is included, but no bottle samples will be taken to calibrate this sensor. Samples will be taken for salinity calibration.</p>
 
<p>The LADCP is a Lowered Acoustic Doppler Current Profiler, and measures the current relative to the CTD package as it is lowered.</p>
 
<p>There are 24 XBTs (eXpendable BathyThermographs) on board that relay temperature over a fine wire back to the ship to 1800 meters depth. There are also a limited number of 1000-meter XBTs on the ship for our use. We plan to deploy an XBT every 20 n. miles between CTD casts along the line at 105 W (Fig. 2). 1000-meter XBTs will also be deployed once per day, nominally, to provide an estimate of the sound speed profile for the Multibeam system.</p>
 
Shipboard Instruments<br>
 
<p>The Simrad EM-120 Multibeam Bathymetric System scans the bottom depth acoustically along the path of the ship at angles from -70 to +70 degrees from nadir (straight down). The swath width increases linearly with depth and would be 29 km if the bottom depth were at 5000 m.</p>
 
<p>Mounted on the hull of the ship is a narrow-band 150-khz Acoustic Doppler Current Profiler (ADCP), that will probe the velocity of the water to about 300 or 400 meters depth.</p>
 
<p>The ship also carries a Hydrographic Doppler Sonar System (HDSS) developed by Rob Pinkel and his group at SIO, which promises to measure velocities to about 1000 meters depth.</p>
 
Meteorology. The following meteorological parameters are available on Revelle:<br>
 
Wind speed and direction at two locations on the ship<br>
Air temperature, humidity, and pressure<br>
Short wave radiation<br>
Long wave radiation (several varieties)<br>
Photosynthetically Available Radiation (PAR)<br>
 
<p>Surface Thermosalinograph. Temperature and conductivity of surface seawater are measured with two flow-through thermosalinographs. The water is drawn from the engine cooling water intake line.</p>
 
Cruise Plan by Week<br>
 
We plan to do deployment operations in the following order, approximately by week:<br>
 
<p>First two weeks: Deploy all the moorings and 4 SOLO floats, from east to west. There will be at least one CTD cast during this time to test the CTD/LADCP and the RDI current meter.</p>
 
Week 3: Run a CTD/XBT line, and deploy RAFOS floats and surface drifters from approximately 52 S to 67 S along 105 W.<br>
 
Week 4: Deploy the tracer, shearmeters, EM-APEX floats.<br>
 
Week 5: Sample the tracer.<br>
 
Week 6: Transit to Punta Arenas.<br>