<h1>Cruise reports</h1>

<h2>US2 TN246 2010</h2>
<ul>
  <li><%= link_to "Report (English)", "/uploads/4182/download" %></li>
  <li><%= link_to "Report (Espanol)", "/uploads/4181/download" %></li>
  <li><%= link_to "Report, long (English)", "/uploads/5937/download" %></li>
</ul>
