<h1>MES Data Policy</h1> 

<h2>Version 4</h2>

<p>
The Diapycnal and Isopycnal Mixing Experiment in the Southern Ocean (DIMES) is
a US and UK oceanographic process study that is collecting a broad range of
data types. This document outlines the basic principles of data sharing within
the DIMES project:
</p>

<ol>
<li>
DIMES recognizes the rights of individual investigators to analyze and publish
first results from the data sets for which they had primary responsibility.  
</li>
<li>
In order to maximize scientific gains from DIMES, investigators will need
access to all DIMES data sets or processed data products from other DIMES
investigators (such as diffusivity estimates, mapped fields or analyzed
trajectories).  This requires that we share data efficiently.  DIMES data
should be posted on the DIMES web sites as early as possible, with clear
documentation.  Preliminary data sets should be posted and denoted as such.
They should be checked for quality, revised, and finalized as early as
possible, by the originator.  
</li>
<li>
Data sharing is managed by the CLIVAR and Carbon Hydrographic Data Office
(CCHDO), which maintains a separate web site and password protected data site
specifically for DIMES.  The center can manage version control for evolving
data sets and can help in developing standard formats to report meta data, raw
(level 0) data, and refined data fields.  
</li>
<li>
Primary investigators of each shared data type retain primary publication
rights for their data.  During the preliminary DIMES analysis work, if other
DIMES investigators wish to publish results based on these data, then they must
offer co-authorship to the data originators, whose names are identified with
the data products on the DIMES data web site.  More importantly, they must work
with the data originators to ensure that they are not replicating work being
conducted by someone else and that they are interpreting the data correctly.
This policy should continue to the extent allowed by the funding agencies
beyond the two-year period during which data are not yet made public, except
that after the two year period it would apply to anyone wishing to work with
the data.  This restriction or request should be in a statement accompanying
the data wherever the data are posted.  When the originator of the data wishes
to offer free use of data without consultation, or perhaps with only
attribution, that should be announced in a statement with the data.  If data
are produced by a team of investigators, all members of the team should be
consulted before the data are shared with other investigators.
</li>
<li>
Numerical model output also plays a key role in DIMES analysis, and can be
released through the data web site or via other channels, as appropriate.
Users of numerical output should follow the same guidelines with respect to the
originator as they would with originators of observational data.  The same
policy applies to intermediate products that have been provided to assist with
field operations and analysis of observational data.
</li>
<li>
Data use agreements should be documented at a minimum in emails.
</li>
<li>
Any individual who has received grant funding or salary support to participate
in DIMES is to be considered a DIMES investigator, including principal
investigators, co-investigators, technical staff, post-docs, and graduate
students.
</li>
<li>
The interests of graduate students and post-doctoral associates working with a
particular data set must be considered in agreements between principal
investigators on those data.
</li>
<li>
For the first two years after data collection, DIMES data should only be shared
among DIMES investigators.  After two years, sharing with the larger U.S. and
U.K. communities is mandated by the funding agencies.
</li>
<li>
Everyone involved in DIMES is expected to make a good faith effort to adhere to
the above points of data sharing policy.  In the unlikely event that
adjudication is required, the lead PIs, Jim Ledwell and Alberto Naveira
Garabato, will appoint an ad-hoc committee of three researchers, likely drawn
from DIMES PIs, to evaluate the situation and provide a ruling.
</li>
</ol>

<p>
Following NSF and NERC guidelines, all DIMES data will ultimately be reported
to the US National Ocean Data Center, National Geophysical Data Center, and/or
the British Oceanographic Data Centre, who will take responsibility for
archiving the data.  In the case of NSF the normal period after which
publication of the data is required is two years.  Exceptions are allowed only
with permission of the cognizant program manager.  However, it seems allowable
and prudent after the data are made public to ask, in a statement accompanying
the data, potential users to consult with the originators before using the
data. 
</p>
