<h1>Press</h1> 

<ul class="press">
  <li>
    <a href="https://simonsfoundation.org/features/science-news/scientists-parse-oceans-role-in-climate-change/" class="title">
      Scientists Parse Ocean’s Dynamic Role in Climate Change
    </a> by <span class="author">Natalie Wolchover</span>, <span class="date">April 11, 2013</span>
  </li>
  <li>
    <a href="//blog.decc.gov.uk/?p=596" class="title">
      The Pursuit of Scientifc Progress
    </a> by <span class="author">Emily Shuckburgh</span>, <span class="date">May 6, 2011</span>
    <span class="publisher">UK Department of Energy and Climate Change Blog</span>
  </li>
  <li>
    <a href="/outreach/DIMES_article_CB_30_June" class="title">
      Measuring Ocean Mixing
    </a> by <span class="author">Catherine Brewster</span>
  </li>
</ul>
