<div class='footer'>
<div class='sponsors'>
DIMES is sponsored by the National Science Foundation (U.S.), Natural Environment Research Council (U.K), and British Antarctic Survey (U.K.)
</div>
<ul class='logos'><li>
<a href='http://www.nsf.gov/'><%=image_tag 'nsf_logo.gif', :height=>'50'%></a>
</li>
<li>
<a href='http://www.nerc.ac.uk/'><%=image_tag 'ner_logo.gif', :height=>'50'%></a>
</li>
<li>
<a href='http://www.antarctica.ac.uk/'><%=image_tag 'bas_logo.gif', :height=>'50'%></a>
</li>
<li>
<a href='http://www.clivar.org/'><%=image_tag 'clivar_logo.jpg',  :height=>'50'%></a>
</li></ul>
</div>
</div>
