<div class='footer'>
<div class='sponsors'>
DIMES is sponsored by the National Science Foundation (U.S.), Natural
Environment Research Council (U.K), and British Antarctic Survey (U.K.)
</div>
<ul class='logos'>
<%= content_tag(:li, link_to(image_tag('nsf_logo.gif', :height => 50), 'http://nsf.gov')) %>
<%= content_tag(:li, link_to(image_tag('ner_logo.gif', :height => 50), 'http://www.nerc.ac.uk')) %>
<%= content_tag(:li, link_to(image_tag('bas_logo.gif', :height => 50), 'http://www.antarctica.ac.uk')) %>
<%= content_tag(:li, link_to(image_tag('clivar_logo.jpg', :height => 50), 'http://www.clivar.org')) %>
</ul>
</div>
</div>
