<div class='top_name'>Diapycnal and Isopycnal Mixing in the Southern Ocean</div>
<%= link_to(content_tag(:div, '', :class => :banner), root_path) %>
<div class='menu'>
<table width='750' align='center'>
<tr>
<%=
items = [
  ['Home', root_path],
  ['Components', {:controller => :components}],
  ['Fieldwork', {:controller => :fieldwork}],
  ['Results', {:controller => :results}],
  ['Publications', {:controller => :publications}],
  ['People', {:controller => :people}],
]
items.map {|x|
  content_tag(:td, link_to(x[0], x[1]), :width => (100 / items.length))
}.join(content_tag(:td, '|')) %>
</tr>
</table>
</div>
<% if u = current_user() %>
<div class='session'>
    Hello <%= h u.login -%>
    <%= link_to('Log out', logout_path, :method => :delete) %>
</div>
<% end -%>
