<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="/favicon.ico" />
<title>DIMES | Diapycnal and Isopycnal Mixing in the Southern Ocean</title>
<%=stylesheet_link_tag 'main'%>
</head>
<body>
<div class="centering">
	<%=render :partial => 'layouts/header'%>
	<div class="content">
		<%=yield%>
	</div>
	<div id='divider'></div>
</div>
<%=render :partial => 'layouts/footer'%>
</body>
</html>
